basePath: /
definitions:
  base.Address:
    properties:
      city:
        type: string
      country:
        type: string
      postalCode:
        type: string
      street:
        type: string
    type: object
  base.CartItem:
    properties:
      productId:
        type: integer
      quantity:
        type: integer
    type: object
  base.MessageResponse:
    properties:
      message:
        description: Return status description
        type: string
    type: object
  base.Order:
    properties:
      createdAt:
        type: string
      items:
        items:
          $ref: '#/definitions/base.OrderItem'
        type: array
      orderId:
        type: integer
      status:
        type: string
      totalAmount:
        type: integer
      userId:
        type: integer
    type: object
  base.OrderItem:
    properties:
      price:
        type: integer
      productId:
        type: integer
      quantity:
        type: integer
    type: object
  base.PaymentDetails:
    properties:
      cardNumber:
        type: string
      cvv:
        type: string
      expiryDate:
        type: string
    type: object
  base.Product:
    properties:
      description:
        type: string
      name:
        type: string
      price:
        type: integer
      productId:
        type: integer
      stock:
        type: integer
    type: object
  cart.AddToCartRequest:
    properties:
      productId:
        type: integer
      quantity:
        type: integer
    type: object
  cart.DeleteCartItemRequest:
    properties:
      productId:
        type: integer
    type: object
  cart.DeleteCartRequest:
    type: object
  cart.UpdateCartItemRequest:
    properties:
      productId:
        type: integer
      quantity:
        type: integer
    type: object
  order.CancelOrderRequest:
    properties:
      orderId:
        type: integer
    type: object
  order.PayOrderRequest:
    properties:
      orderId:
        type: integer
      paymentDetails:
        $ref: '#/definitions/base.PaymentDetails'
      paymentMethod:
        type: string
    type: object
  order.PostOrderRequest:
    properties:
      address:
        $ref: '#/definitions/base.Address'
      items:
        items:
          $ref: '#/definitions/base.CartItem'
        type: array
      paymentMethod:
        type: string
    type: object
  order.PostOrderResponse:
    properties:
      message:
        type: string
      orderId:
        type: integer
    type: object
  product.CreateProductRequest:
    properties:
      description:
        type: string
      name:
        type: string
      price:
        type: integer
      stock:
        type: integer
    type: object
  product.CreateProductResponse:
    properties:
      message:
        type: string
      productId:
        type: integer
    type: object
  product.DeleteProductRequest:
    properties:
      id:
        type: integer
    type: object
  product.DeleteProductResponse:
    properties:
      message:
        type: string
      productId:
        type: integer
    type: object
  product.UpdateProductRequest:
    properties:
      description:
        type: string
      id:
        type: integer
      name:
        type: string
      price:
        type: integer
      stock:
        type: integer
    type: object
  product.UpdateProductResponse:
    properties:
      message:
        type: string
      productId:
        type: integer
    type: object
  user.LoginRequest:
    properties:
      password:
        type: string
      username:
        type: string
    type: object
  user.LoginResponse:
    properties:
      token:
        type: string
    type: object
  user.RegisterRequest:
    properties:
      email:
        type: string
      password:
        type: string
      role:
        type: string
      username:
        type: string
    type: object
  user.UpdatePasswordRequest:
    properties:
      id:
        type: integer
      password:
        type: string
    type: object
  user.UpdateUserRequest:
    properties:
      email:
        type: string
      id:
        type: integer
      username:
        type: string
    type: object
  user.UserResponse:
    properties:
      createdAt:
        type: string
      email:
        type: string
      id:
        type: integer
      username:
        type: string
    type: object
  user.VerifyRequest:
    type: object
  user.VerifyResponse:
    properties:
      authorized:
        type: boolean
    type: object
host: localhost:8888
info:
  contact:
    name: TikShop 开发团队
    url: https://github.com/hewo/tik-shop
  description: TikShop 的 API 服务，用于处理相关业务逻辑。
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: TikShop API
  version: "1.0"
paths:
  /api/auth/admin/login:
    post:
      consumes:
      - application/json
      description: 管理员通过用户名和密码进行登录，返回登录成功的管理员信息。
      parameters:
      - description: Login request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Login successful
          schema:
            $ref: '#/definitions/user.LoginResponse'
        "400":
          description: Invalid request or login failed
          schema:
            type: string
      summary: AdminLogin
      tags:
      - user
  /api/auth/login:
    post:
      consumes:
      - application/json
      description: 通过用户名和密码进行用户登录，返回登录成功的用户信息。
      parameters:
      - description: Login request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Login successful
          schema:
            type: string
        "400":
          description: Invalid request or login failed
          schema:
            type: string
      summary: Login
      tags:
      - user
  /api/auth/register:
    post:
      consumes:
      - application/json
      description: 注册新用户，返回用户基本信息
      parameters:
      - description: Register user request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: User registered successfully
          schema:
            type: string
        "400":
          description: Invalid request or validation failed
          schema:
            type: string
      summary: Register
      tags:
      - user
  /api/auth/verify:
    get:
      consumes:
      - application/json
      description: 验证用户的身份信息，返回验证结果。
      parameters:
      - description: Verify request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.VerifyRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Verification successful
          schema:
            $ref: '#/definitions/user.VerifyResponse'
        "400":
          description: Invalid request or verification failed
          schema:
            type: string
      summary: Verify
      tags:
      - user
  /api/cart:
    delete:
      consumes:
      - application/json
      description: 清空购物车中的所有商品。
      parameters:
      - description: Details for clearing the cart
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/cart.DeleteCartRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Cart cleared successfully
          schema:
            $ref: '#/definitions/base.MessageResponse'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: DeleteCart
      tags:
      - cart
    get:
      consumes:
      - application/json
      description: 获取购物车中的所有商品。
      produces:
      - application/json
      responses:
        "200":
          description: List of items in the cart
          schema:
            items:
              $ref: '#/definitions/base.CartItem'
            type: array
        "400":
          description: Invalid request
          schema:
            type: string
      summary: GetCart
      tags:
      - cart
    post:
      consumes:
      - application/json
      description: 向购物车中添加一件商品。
      parameters:
      - description: Details of the item to add
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/cart.AddToCartRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Item added to the cart successfully
          schema:
            $ref: '#/definitions/base.MessageResponse'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: AddToCart
      tags:
      - cart
  /api/cart/:productId:
    delete:
      consumes:
      - application/json
      description: 根据商品 ID 从购物车中移除指定商品。
      parameters:
      - description: Product ID
        in: path
        name: productId
        required: true
        type: string
      - description: Details of the item to delete
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/cart.DeleteCartItemRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Item removed successfully
          schema:
            $ref: '#/definitions/base.MessageResponse'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: DeleteCartItem
      tags:
      - cart
    put:
      consumes:
      - application/json
      description: 根据商品 ID 更新购物车中商品的数量。
      parameters:
      - description: Product ID
        in: path
        name: productId
        required: true
        type: string
      - description: Details of the item to update
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/cart.UpdateCartItemRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Item updated successfully
          schema:
            $ref: '#/definitions/base.MessageResponse'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: UpdateCartItem
      tags:
      - cart
  /api/order:
    post:
      consumes:
      - application/json
      description: 创建一个新的订单，包括订单的详细信息。
      parameters:
      - description: Order details for creation
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/order.PostOrderRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Order created successfully
          schema:
            $ref: '#/definitions/order.PostOrderResponse'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: PostOrder
      tags:
      - order
  /api/order/:orderId:
    get:
      consumes:
      - application/json
      description: 根据订单 ID 获取订单的详细信息。
      parameters:
      - description: Order ID
        in: path
        name: orderId
        required: true
        type: string
      - in: query
        name: orderId
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Order details
          schema:
            $ref: '#/definitions/base.Order'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: GetOrderInfo
      tags:
      - order
  /api/order/:orderId/pay:
    post:
      consumes:
      - application/json
      description: 根据订单 ID 支付订单。
      parameters:
      - description: Order ID
        in: path
        name: orderId
        required: true
        type: string
      - description: Payment details for the order
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/order.PayOrderRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Payment successful
          schema:
            $ref: '#/definitions/base.MessageResponse'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: PayOrder
      tags:
      - order
  /api/orders:
    get:
      consumes:
      - application/json
      description: 获取订单列表，支持分页和过滤。
      produces:
      - application/json
      responses:
        "200":
          description: List of orders
          schema:
            items:
              $ref: '#/definitions/base.Order'
            type: array
        "400":
          description: Invalid request
          schema:
            type: string
      summary: GetOrders
      tags:
      - order
  /api/orders/:orderId/cancel:
    post:
      consumes:
      - application/json
      description: 根据订单 ID 取消订单。
      parameters:
      - description: Order ID
        in: path
        name: orderId
        required: true
        type: string
      - description: Details for canceling the order
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/order.CancelOrderRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Order canceled successfully
          schema:
            $ref: '#/definitions/base.MessageResponse'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: CancelOrder
      tags:
      - order
  /api/product/:id:
    delete:
      consumes:
      - application/json
      description: 根据产品 ID 删除指定的产品。
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: string
      - description: Request body with product ID
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/product.DeleteProductRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Product deleted successfully
          schema:
            $ref: '#/definitions/product.DeleteProductResponse'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: DeleteProduct
      tags:
      - product
    get:
      consumes:
      - application/json
      description: 根据产品 ID 获取单个产品的详细信息。
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: string
      - in: query
        name: id
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: Product details
          schema:
            $ref: '#/definitions/base.Product'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: GetProduct
      tags:
      - product
    put:
      consumes:
      - application/json
      description: 根据产品 ID 更新产品的详细信息。
      parameters:
      - description: Product ID
        in: path
        name: id
        required: true
        type: string
      - description: Request body with updated product details
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/product.UpdateProductRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Product updated successfully
          schema:
            $ref: '#/definitions/product.UpdateProductResponse'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: UpdateProduct
      tags:
      - product
  /api/products:
    get:
      consumes:
      - application/json
      description: 获取产品列表
      parameters:
      - in: query
        name: limit
        type: integer
      - in: query
        name: page
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: List of products
          schema:
            items:
              $ref: '#/definitions/base.Product'
            type: array
        "400":
          description: Invalid request
          schema:
            type: string
      summary: GetProducts
      tags:
      - product
    post:
      consumes:
      - application/json
      description: 创建一个新的产品，包含产品的详细信息。
      parameters:
      - description: Request body with product details
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/product.CreateProductRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Product created successfully
          schema:
            $ref: '#/definitions/product.CreateProductResponse'
        "400":
          description: Invalid request
          schema:
            type: string
      summary: CreateProduct
      tags:
      - product
  /api/user/:id:
    get:
      consumes:
      - application/json
      description: 根据用户 ID 获取详细的用户信息
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: User information retrieved successfully
          schema:
            type: string
        "400":
          description: Invalid request or user ID not found
          schema:
            type: string
      summary: GetUserInfoByID
      tags:
      - user
    put:
      consumes:
      - application/json
      description: 根据用户 ID 更新用户的详细信息
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      - description: Update user request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.UpdateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: User information updated successfully
          schema:
            $ref: '#/definitions/user.UserResponse'
        "400":
          description: Invalid request or validation failed
          schema:
            type: string
      summary: UpdateUser
      tags:
      - user
  /api/user/:id/password:
    put:
      consumes:
      - application/json
      description: 根据用户 ID 更新用户的密码
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      - description: Password update request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.UpdatePasswordRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Password updated successfully
          schema:
            $ref: '#/definitions/base.MessageResponse'
        "400":
          description: Invalid request or validation failed
          schema:
            type: string
      summary: UpdatePassword
      tags:
      - user
  /ping:
    get:
      consumes:
      - application/json
      description: 用于测试服务器是否正常响应，返回 "pong" 消息
      produces:
      - application/json
      responses:
        "200":
          description: '返回 message: pong 的 JSON 响应'
          schema:
            additionalProperties: true
            type: object
      summary: 测试接口
schemes:
- http
swagger: "2.0"
